
@{
    ViewBag.Title = "TongtienMax";
}

<h2>KHÁCH HÀNG CÓ TỔNG TIỀN LỚN NHẤT </h2>
<table>
    <tr>
        <td width="50">Mã KH</td>
        <td width="200">Tên KH</td>
        <td width="150">Tổng tiền Max</td>
    </tr>
    <tr>
        <td> @ViewBag.MaKH</td>
        <td> @ViewBag.TenKH</td>
        <td> @ViewBag.Tongtien</td>
    </tr>
</table>

